$primary-clr : #ffefe7;
$secondary-clr: #ffdac6;
$tertiary-clr: #babd8d;
$background: #fa9500;
$primary-text-clr: #7c6a0a;
$secondary-text-clr: #E86424;
$font-stack: "IBM Plex Sans", sans-serif;

/* ibm-plex-sans-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ibm-plex-sans-v23-latin-regular.woff2') format('woff2');
} 

/* ibm-plex-sans-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/ibm-plex-sans-v23-latin-500.woff2') format('woff2'); 
}

/* ibm-plex-sans-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/ibm-plex-sans-v23-latin-600.woff2') format('woff2');
}

/* ibm-plex-sans-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ibm-plex-sans-v23-latin-700.woff2') format('woff2'); 
}


@mixin flex($justify: start, $align: null, $direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-stack, "Roboto", "Segoe UI", system-ui, sans-serif;;
    background: $primary-clr;
} 

h1,
h2,
h3 {
    line-height: 1.1;
}

p {
    max-width: 65ch;
    text-wrap: pretty;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

.header {
    @include flex($align: center);
    width: 100%;
    height: 100%;
} 

.navbar {
    @include flex($justify: space-between);
    padding: 1.5625rem 1.375rem; 
    width: inherit;
} 

.navbar-menu {
    @include flex($align: center, $justify: space-between);
    width: inherit;
}
            
.hamburguer {
    border: none;
    background: none;
    
    img {
        width: 2rem;
        height: 2rem;
    }
}

.navbar-title {
    font-size: clamp(1.25rem, 3vw, 1.875rem);
    color: $primary-text-clr;
}
            
.navbar-actions {
    display: none;
}    
    
.main {
    padding: 1.6875rem;
}
        
.main-section {
    @include flex($align: center, $direction: column);
    gap: clamp(0.9375rem, 2vw, 3.125rem);
    margin-bottom: 1.875rem;
}
            
.main-section-image {
    border-radius: 7.2px;
    overflow: hidden;

    img {
        width: 90vw;
        height: auto;
    }
}

.main-section-info {
    @include flex($direction: column);
    gap: clamp(1.25rem, 2vw, 1.875rem);
}
                
.main-section-title {
    font-size: clamp(1.75rem, 6vw, 3.75rem);
    color: $primary-text-clr;
    font-weight: 600;
}

.main-section-description {
    font-size: clamp(0.75rem, 2.4vw, 1.375rem);
    color: $primary-text-clr;
    max-width: 37rem;
}

.main-section-btn {
    width: 9.375rem;
    height: 2.625rem;
    align-self: center;
    border: none;
    color: #fff;
    font-size: clamp(0.827rem, 2vw, 1.4375rem);
    font-weight: 700;
    background: #fa9500;
    border-radius: 20.13px;
}


 .section-title {
    font-weight: 500;
    font-size: clamp(1.375rem, 6vw, 3.125rem);
    color: $primary-text-clr;
    margin-bottom: 1.875rem;
    margin-top: 2.5rem;

    span {
        display: block;
    }
}

.cards {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    column-gap: clamp(1.25rem, 12.327vw, 6.25rem);
    margin-inline: -1.6875rem;
    padding-inline: 1.6875rem;

    &::-webkit-scrollbar {
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #ffefe7;
    }

    &::-webkit-scrollbar-thumb {
        background: #fa9500;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #e68600;
    }
}      

.card {
    padding: 0.9375em;
    border-radius: 4.4px;
    min-width: 11.125rem;
    max-width: 20.25rem;
    display: grid;
    place-items: center;
    gap: 0.5625rem;  
}

.card-health {
    @extend .card;
    background: $secondary-clr;
}
                    
.card-icon {
    width: 20px;
    height: 20px;
    justify-self: end;
}

.card-image {
    width: 132px;
    height: 165px;
    border-radius: 3.58px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.card-text {
    @include flex($direction: column);
    gap: 0.125rem
}

.health-text {
    @extend .card-text;
    color: $primary-text-clr;
}

.decoration-text {
    @extend .card-text;
    color: #fff;
}

.card-title {
    font-size: clamp(0.8125rem, 2vw, 1.5625rem);
    font-weight: 500; 
}

.card-description {
    font-size: clamp(0.515rem, 2vw, 0.9375rem);
}

.card-decoration {
    @extend .card;
    background: $tertiary-clr;
}

.about {
    @include flex($direction: column);
    gap: 1.875rem;

    p {
        font-size: clamp(0.844rem, 3vw, 1.875rem);
        color: $secondary-text-clr;
        font-weight: 500;
    }
}

.about-content {
    @include flex($direction: column);
    gap: 4.375rem;
}

.about-icon {
    width: 73.85px;
    height: 73.85px;
}

.compromise {
    @include flex($align: center, $direction: column);
    gap: 0.9325rem;
    text-align: center;
}

.innovation {
    @include flex($align: center, $direction: column);
    gap: 0.9325rem;
    text-align: center;
}

.images {
    @include flex($align: center, $direction: column);
    gap: 3.4375rem;
}

.image {
    width: 18.5rem;
    aspect-ratio: 296 / 297;
    border-radius: 11.96px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.map {
    @include flex($direction: column);
    gap: 2.5rem;
}

.map-image {
    aspect-ratio: 1 / 1;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
        overflow: hidden;
    }
}

.map-text {
    @include flex($direction: column);
    color: $secondary-text-clr;
    gap: 0.9375rem;

    span {
        display: block;
    }
}

.map-text p:first-of-type {
    font-size: clamp(1.25rem, 3vw, 2.1875rem);
    line-height: 1.1;
}

.map-text p:last-of-type {
    font-size: clamp(0.9375rem, 3vw, 1.5625rem);
}

.footer {
    @include flex($direction: column);
    background: $background;
    width: 100%;
    padding: 1.6875rem;
    gap: 1.25rem;
}

.footer-title {
    @extend .navbar-title;
    color: #fff;
    font-weight: 500;
}

.footer-links {
    font-size: clamp(0.875rem, 3vw, 1.25rem);
    color: #fff;

    p {
        line-height: 2;
    }
}

.nav-footer {
    display: flex;
    gap: 2.1875rem;
    
    a img {
        width: 26px;
        height: 26px;
    }
}

@media (min-width: 768px) {
    .navbar {
        padding: 2.0625rem 5.3125rem;
    }
                    
    .hamburguer {
        display: none;
    }

    .navbar-actions {
        display: flex;
        gap: 2.5rem;

        a img {
            min-width: 3.1875rem;
            height: 3.1875rem;
        }
    
    }

    .main {
        padding: 7.1875rem 4.0625rem;
    }

    .main-section-title {
        margin-top: 1.25rem; 
    }

    .section-title {
        margin-bottom: 3.125rem;
        margin-top: 3.75rem;
                   
        span {
            display: inline;
        }
    }

    .main-section-btn {
        width: 11.25rem;
        height: 3.125rem;
    }

    .cards {
        grid-auto-flow: column;
        grid-auto-columns: 18.75rem;
    }

    .card {
        padding: 1.25rem;
    }
                        
    .card-icon {
        width: 31px;
        height: 31px;
    }
    
    .card-image {
        width: 15.0625rem;
        height: 18.6875rem;
    }     

    .map p:first-child span {
        display: inline;
    }

    .nav-footer {
        @include flex($justify: center);

        a img {
            width: 1.875rem;
            height: 1.875rem;
        }
    }
}

@media (min-width: 1024px) {
    .main-section {
        @include flex($align: flex-start, $direction: row-reverse);
    }       
                
    .main-section-image {
        width: 50vw;
        border-radius: 19px;
    }

    .main-section-btn {
        width: 16.3125rem;
        height: 4.5625rem;
        border-radius: 35px;
        align-self: flex-start;
        margin-top: 2.5rem;
    }
                
    .section-title {
        margin-bottom: 3.125rem;
        margin-top: 3.75rem;
                   
        span {
            display: inline;
        }
    }

    .cards {
        grid-auto-flow: row;
        grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
        row-gap: 75px;
        overflow-x: hidden;   
    }
                    
    .card {
        border-radius: 8px;
        gap: 0.9375rem;
    }
                        
    .card-icon {
        width: 31px;
        height: 31px;
    }
    
    .card-image {
        width: 15.0625rem;
        height: 18.6875rem;
    }  
    
    .about-content {
        @include flex($justify: space-between, $direction: row);
    }

    .about-icon {
        width: 168px;
        height: 168px;
    }

    .compromise,
    .innovation,
    .images {
        @include flex($direction: row);
    }

    .image {
        width: 24.75rem;
        aspect-ratio: 396 / 398;
        border-radius: 16px;
        overflow: hidden;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 55%;
        }
    }
    
    .map-text span {
        display: inline;
    }

    .footer {
        padding: 1.875rem 4.0625rem;
    }

    .nav-footer a img {
        width: 46px;
        height: 46px;
    }
}